

:root{

    --header-: #2c3e50;
    --green-: #1abc9c;
    --light-: #ffffff;
    --main_bottom-: #3a546d;
    --red-: #ba4b63;
    --azure-: #1ea4b6;
    --black-: #140f0f;
    --lightblue-: #1c83c1;
    --blue-: #0e38b5;
    --brownish-: #ccb2a3;
}



/* #region debug */

.debug .header_left{
    background-color: #0e38b5;
    height: 90px;
}

.debug .header-right{
    background-color: #4f5d88;
    height: 90px;
}










/* #endregion debug */
