

:root{

    --header-: #2c3e50;
    --green-: #1abc9c;
    --light-: #ffffff;
    --main_bottom-: #3a546d;
}

li{
    list-style: none;

}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

/* #region debug */

.debug .header_left{
    background-color: #0e38b5;
    height: 90px;
}

.debug .header-right{
    background-color: #4f5d88;
    height: 90px;
}

.debug .avatar{
    background-color: #6125c0;
    height: 90px;
}
.debug .title{
    background-color: #131c36;
    height: 90px;
}
.debug .star{
    background-color: #61aa26;
    height: 90px;
}
.debug .info_title{
    background-color: #4f5549;
    height: 90px;
}

.debug [class^="col-"]{
    background-color: aquamarine;
    border: 1px dashed;
    height: 100px;
}


/* #endregion debug */


/* #region Header */
header{
    background-color: var(--header-);
    color: var(--light-);
}

.link_header{
    display: none;
}
/* #endregion Header */


/* #region Main */

section.title_avatar{
    background-color: var(--green-);
}
section.about{
    background-color: var(--green-);
}

.line{
    height: 5px;
    background-color: var(--light-);
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    width: 10%;
}

.line_black{
    height: 5px;
    background-color: var(--header-);
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    width: 10%;
}



/* #endregion Main */


/* #region Footer */


footer{
    background-color: var(--header-);
    color: var(--light-);
}



/* #endregion Footer */


/* #region Media */

@media screen and (min-width: 576px) {
    .header-right>nav{
        display: none;
    }
    
    .header-right .link_header{
        display: flex;
        align-items: center;
        padding-top: 14px;
    }
}





/* #endregion Media */

